body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.w-100-percent {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    }

.container {
  background-color: blue;
  width: 1200px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 20px;
  font-size: 32px;
}

.wrapper {
    background-color: burlywood;
    width: 100%;
    height: 250px;
    display: flex;
    margin: 20px 20px 20px 20px;
    justify-content: center;
    align-items: center;
}
